.row {
    display: flex;
}

.column {
    flex: 50%;
}

body {
  font: 400 16px/1.5 Courier;
  color: #111111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #287aff;
}

a:hover {
  background-color: #9b9ea3;
}

.todoListContainer {

}

input[type="text"] {
  font: 400 16px/1.5 Courier;
}

.buttonRm {
  font: 400 16px/1.5 Courier;
  background-color: #fc3744;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttonRm:hover {
  background-color: #ce232e;
}

.buttonAdd:hover {
  background-color: #007a3c;
}

.buttonAdd {
  font: 400 16px/1.5 Courier;
  background-color: #00b75b;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
